---
import MainGridLayout from '../layouts/MainGridLayout.astro';
import { getEntry } from 'astro:content';

// 获取 'spec' 集合中的 'about' 文章
const aboutPost = await getEntry('spec', 'about');

// 如果没找到 about.md，抛出错误（可选）
if (!aboutPost) {
  throw new Error('Could not find about post');
}

// 渲染 Markdown 内容
const { Content } = await aboutPost.render();
---

<MainGridLayout title={aboutPost.data.title} description={aboutPost.data.description}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <div class="markdown-body emphasized">
                <Content />
            </div>
        </div>
    </div>
</MainGridLayout>